.notFound{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5rem;
}

.notFoundHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-block: 1.1rem;
}
.notFoundHeader > h2,.notFoundHeader > p{
    color: var(--text-secondary-colour);
}
.notFoundHeader  h2{
    font-weight: 500;
    text-transform: capitalize;
}
.notFoundHeader + button{
    padding:10px 30px;
    font-size: 1em;
}