:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-primary-colour:#FFFFFF;
  --bg-secondary-colour:#F0F8FF;
  --text-primary-colour:#000000;
  --text-secondary-colour:#757575;
  --btn-primary:#3B82F6;
  --btn-danger:#FF5252;
  --box-primary-colour:#FFFFFF;
  --box-secondary-colour:#ECEFF1;
  --bg-overflow-colour:#D9D9D9;
  --box-padding:20px 35px;
  --box-margin:10px;
  --box-round:15px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg-secondary-colour);
  color: var(--text-primary-colour);
}

h1{
  color: var(--text-primary-colour);
  font-size: 2rem;
}